---
import { ViewTransitions } from "astro:transitions";
import Header from "../components/Header.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="bg-gray-900 min-h-screen pb-32">
    <Header />
    <main class="max-w-5xl px-4 m-auto">
      <slot />
    </main>
    <!-- src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"> -->
    <style is:global>
      :root {
        --accent: 23, 127, 100;
        --accent-light: 104, 250, 255;
        --accent-dark: 25, 46, 75;
        --accent-gradient: linear-gradient(
          45deg,
          rgb(var(--accent)),
          rgb(var(--accent-light)) 30%,
          white 60%
        );
      }

      html {
        font-family: sans-serif;
        background: #13151a;
        background-size: 224px;
        color-scheme: dark light;
        scroll-behavior: smooth;
      }

      body {
        font-family: "Inika";
      }
      code {
        font-family:
          Menlo,
          Monaco,
          Lucida Console,
          Liberation Mono,
          DejaVu Sans Mono,
          Bitstream Vera Sans Mono,
          Courier New,
          monospace;
      }

      @font-face {
        font-family: "Inika";
        src: url("/fonts/Inika-Regular.ttf");
      }
    </style>
  </body>
</html>
