---
interface Props {
  title: string;
  alternative: boolean;
  idSection: string;
}

const { title, alternative, idSection } = Astro.props;
---

<section
  class="min-h-screen flex flex-col p-10 rounded"
  class:list={{ ["bg-gray-950"]: alternative }}
  id={idSection}>
  <h2 class="text-3xl text-center mb-24 font-bold">{title}</h2>
  <div class="grid grid-flow-col-dense">
    <slot />
  </div>
</section>
